/*  GENERAL  */

html {
	position: relative; /* sticky footer */
	min-height: 100%; /* sticky footer */
}

body {
	padding-top: 60px; /* Fixed navbar, 50 high + 20 margin */
	margin-bottom: 80px; /* Sticky footer, 80 high */
	padding-bottom: 20px;
}

a {
	cursor: pointer;
}

.center {
	text-align: center;
}


/* -- -- -- -- -- -- -- -- -- -- */
/*  NAVBAR  */

header > nav {
	position: relative;
}

header > nav > .container {
	min-height: 48px;
}

header .loginTop input {
	margin-bottom: 5px;
}


/* -- -- -- -- -- -- -- -- -- -- */
/*  FOOTER  */

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 78px;
	border-width: 1px;
	border-style: solid;
}

#footer > .container {
	clear: none;
}

#footer > .container > p {
	text-align: center;
	padding-top: 25px;
}

#footer > .socialmedia {
	float: right;
	margin: 5px 10px 0 0;
	max-width: 25%;
}

#footer > .socialmedia img {
	width: 26px;
}